body{
    background-color: cyan;
}
header{
    background-color: ivory;
}
header h1{
    font-size: 50px;
    font-weight:700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 100px;
    margin-top: 90px;
    color:rgb(105, 59, 12) ;
    float:left;
    
    
}

header img{
    margin-left: 13%;
    width:250px;
    height:200px;
    margin-top: 0;
    display:inline-flexbox;
    

}
header nav{
    margin-top: 90px;
    float: right;
    margin-right: 30px;
    
}
header nav ul li{
    display: inline-block;
    margin-left: 10px;
    border:2px rgb(202, 159, 179) inset;
    padding: 10px;;
    text-shadow: navy;

}
nav a{
    text-decoration: none;
    color:darkgrey
}
main h1{
    text-align: center;
    font-size: 30px;
    font-weight: initial;
    background-color: ivory;
    margin: 30px 0;
    padding: 10px 20px;
    font-family: cursive;
    
}

main p{
    text-indent: 20px;
    margin-left: 20px;
    margin: 10px;
    font-size: 20px;
    color: rgb(105, 59, 12);
    text-align: center;
}
main h2{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 15px;
}
main pre{
    text-indent: 20px;
    margin-left: 20px;
    margin: 10px;
    font-size: 20px;
    color: rgb(105, 59, 12);
    text-align: center;
}


main ul li {
    display: inline-block;
    margin: 15px;
    color: rgb(105, 59, 12);
    font-size: 20px;
    margin-left: 150px;
}

main ol {
    margin-left: 40%;
    line-height: 2;
    list-style: decimal ;
    
    
}
main ol li {
    font-size: 20px;
    color:rgb(105, 59, 12) ;
    
}

footer h2{
    background-color: black;
    color:white;
    text-align: center;
    height: 15px;
    padding:5px;
}